@charset "utf-8";
/*————————————————————————————————*/
/* Reset */
/*————————————————————————————————*/
* {
  all: unset;
  unicode-bidi: normal;
  direction: ltr;
}

/*————————————————————————————————*/
/* Display */
/*————————————————————————————————*/
head, link, meta, style, title, script {
  display: none;
}
html, body, p, form {
  display: block;
}
input {
  display: inline-block;
}

/*————————————————————————————————*/
/* Style */
/*————————————————————————————————*/
html {
  height: 100%;
  background-color: rgb(255, 231, 214);

}
input {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  margin: 20px 0;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(255, 255, 255);
  background-color: #735026;
  font-size: 40px;
}
input::placeholder {
  font-family: "Orbitron", sans-serif;
  color: rgb(255, 229, 218);
  -webkit-text-fill-color: rgb(186, 167, 167);
}
form {
  text-align: center;
  margin: calc(50vh - 100px) auto 0;
  max-width: 400px;
  width: 90vw;
}
p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: rgb(30, 21, 22);
  -webkit-text-fill-color: rgb(30, 21, 22);
}
